{% extends 'frontend/base.html.twig' %}

{% block title %}{{ riddle.title }}{% endblock %}

{% block frontend_content %}
    {% if codeIsWrong %}
    <div class="bg-red-500 mb-4 p-4">
        <div class="text-white text-center text-2xl">
            Der Code war leider falsch! Versuch es noch einmal oder schau dir einen Hinweis an.
        </div>
    </div>
    {% endif %}

    <h1 class="text-2xl">{{ riddle.title }}</h1>

    <div class="my-4">
        {% autoescape %}
            {{ riddle.text|raw }}
        {% endautoescape %}
    </div>

    {% if riddle.pdfFilename %}
        <div class="my-4 pdfView" data-pdf-url="{{ riddle.pdfDownloadLink }}" data-next-btn="next" data-prev-btn="prev" data-canvas-id="pdfCanvas">

            <div class="my-2 flex justify-between">
                <button class="mr-2 w-24 py-1 border border-transparent text-lg rounded-md text-gray-700 bg-green-200 hover:bg-green-300" id="prev">Zurück</button>
                <span class="text-lg">Seite: <span id="page_num"></span> / <span id="page_count"></span></span>
                <button class="w-24 py-1 border border-transparent text-lg rounded-md text-gray-700 bg-green-200 hover:bg-green-300" id="next">Vor</button>
            </div>

            <canvas class="w-full" id="pdfCanvas"></canvas>
        </div>

        <div class="text-xl my-4">
            Oder lade dir das Raetsel herunter: <a class="underline hover:text-indigo-700" href="{{ riddle.pdfDownloadLink }}">Download</a>
        </div>

        <div>
            <hr>
        </div>
    {% endif %}

    <div class="my-4">
        <h3 class="text-lg italic">Du hast das Rätsel geloest?</h3>
        <div>Dann gib hier den Code ein, den du heraus bekommen hast.</div>

        {{ form_start(code_form) }}
            <div class="my-2">
                {{ form_widget(code_form.code, { 'attr': {'class': 'h-8 w-128 text-xl text-green-600 px-2 text-center'} }) }}
            </div>

            <div class="my-2">
                {{ form_widget(code_form.submit, { 'attr': {'class': 'py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700'}, 'label': 'Abschicken' }) }}
            </div>
        {{ form_end(code_form) }}
    </div>

    <div>
        <hr>
    </div>

    <div class="my-6">
        <p>Benoetigst du Hilfe beim Loesen des Raetsel? Dann schaue dir hier die Hinweise an:</p>

        <div>
            {% for hint in riddle.riddleHints %}
                <div class="my-3">
                    <h4><a class="accordionLink w-24 py-1 px-2 border border-transparent text-lg rounded-md text-gray-800 bg-gradient-to-r from-yellow-200 to-yellow-400 hover:from-yellow-500 hover:to-red-500" href="#" data-link-for-accordion-content="hint-{{ hint.id }}">{{ hint.title }}</a></h4>

                    <div id="hint-{{ hint.id }}" class="text-justify hidden py-2 px-6 border-bottom border-b">
                        {{ hint.text|raw }}
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    {{ encore_entry_script_tags('pdfView') }}
{% endblock %}